
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VOZ</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.tiny.cloud/1/agosdcsrbqkvutncduwux2ig1zykt6m94ah0gkqypcrsdske/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <style>
        .header-dark {
            background-size: cover;
        }

        @@media (min-width:768px) {
            .header-dark {
                padding-bottom: 20px;
            }
        }

        .header-dark .navbar {
            background: transparent;
            padding-top: 0;
            padding-bottom: 0;
            color: #fff;
            border-radius: 0;
            box-shadow: none;
            border: none;
        }

        @@media (min-width:768px) {
            .header-dark .navbar {
                padding-top: .75rem;
                padding-bottom: .75rem;
            }
        }

        .header-dark .navbar .navbar-brand {
            font-weight: bold;
            color: inherit;
        }

            .header-dark .navbar .navbar-brand:hover {
                color: #f0f0f0;
            }

        .header-dark .navbar .navbar-collapse span {
            margin-top: 5px;
        }

            .header-dark .navbar .navbar-collapse span .login {
                color: #d9d9d9;
                margin-right: .5rem;
                text-decoration: none;
            }

                .header-dark .navbar .navbar-collapse span .login:hover {
                    color: #fff;
                }

        .header-dark .navbar .navbar-toggler {
            border-color: #747474;
        }

            .header-dark .navbar .navbar-toggler:hover, .header-dark .navbar-toggler:focus {
                background: none;
            }

        .header-dark .navbar .navbar-toggler {
            color: #eee;
        }

        .header-dark .navbar .navbar-collapse, .header-dark .navbar .form-inline {
            border-color: #636363;
        }

        @@media (min-width: 992px) {
            .header-dark .navbar.navbar .navbar-nav .nav-link {
                padding-left: 1.2rem;
                padding-right: 1.2rem;
            }
        }

        .header-dark .navbar.navbar-dark .navbar-nav .nav-link {
            color: #d9d9d9;
        }

            .header-dark .navbar.navbar-dark .navbar-nav .nav-link:focus, .header-dark .navbar.navbar-dark .navbar-nav .nav-link:hover {
                color: #fcfeff !important;
                background-color: transparent;
            }

        .header-dark .navbar .navbar-nav > li > .dropdown-menu {
            margin-top: -5px;
            box-shadow: 0 4px 8px rgba(0,0,0,.1);
            background-color: #fff;
            border-radius: 2px;
        }

        .header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .dropdown-item {
            line-height: 2;
            font-size: 14px;
            color: #37434d;
        }

            .header-dark .navbar .dropdown-menu .dropdown-item:focus, .header-dark .navbar .dropdown-menu .drodown-item:hover {
                background: #ebeff1;
            }

        .header-dark .navbar .action-button, .header-dark .navbar .action-button:active {
            background: #208f8f;
            border-radius: 20px;
            font-size: inherit;
            color: #fff;
            box-shadow: none;
            border: none;
            text-shadow: none;
            padding: .5rem .8rem;
            transition: background-color 0.25s;
        }

            .header-dark .navbar .action-button:hover {
                background: #269d9d;
            }

        .header-dark .navbar .form-inline label {
            color: #ccc;
        }

        .header-dark .navbar .form-inline .search-field {
            display: inline-block;
            width: 80%;
            background: none;
            border: none;
            border-bottom: 1px solid transparent;
            border-radius: 0;
            color: #ccc;
            box-shadow: none;
            color: inherit;
            transition: border-bottom-color 0.3s;
        }

            .header-dark .navbar .form-inline .search-field:focus {
                border-bottom: 1px solid #ccc;
            }

        .header-dark .hero {
            margin-top: 60px;
        }

        @@media (min-width:768px) {
            .header-dark .hero {
                margin-top: 20px;
            }
        }

        .header-dark .hero h1 {
            color: #fff;
            font-family: 'Bitter', serif;
            font-size: 40px;
            margin-top: 20px;
            margin-bottom: 80px;
        }

        @@media (min-width:768px) {
            .header-dark .hero h1 {
                margin-bottom: 50px;
                line-height: 1.5;
            }
        }

        .header-dark .hero .embed-responsive iframe {
            background-color: #666;
        }

        .hrline {
            height: 20px;
            background-color: #e2e3e5;
        }

        .middle {
            min-height: 500px;
        }

        .site-footer {
            background-color: #26272b;
            padding: 45px 0 20px;
            font-size: 15px;
            line-height: 24px;
            color: #737373;
            margin-top: 30px;
            min-height: 200px;
        }

            .site-footer hr {
                border-top-color: #bbb;
                opacity: 0.5
            }

                .site-footer hr.small {
                    margin: 20px 0
                }

            .site-footer h6 {
                color: #fff;
                font-size: 16px;
                text-transform: uppercase;
                margin-top: 5px;
                letter-spacing: 2px
            }

            .site-footer a {
                color: #737373;
            }

                .site-footer a:hover {
                    color: #3366cc;
                    text-decoration: none;
                }

        .footer-links {
            padding-left: 0;
            list-style: none
        }

            .footer-links li {
                display: block
            }

            .footer-links a {
                color: #737373
            }

                .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
                    color: #3366cc;
                    text-decoration: none;
                }

            .footer-links.inline li {
                display: inline-block
            }

        .site-footer .social-icons {
            text-align: right
        }

            .site-footer .social-icons a {
                width: 40px;
                height: 40px;
                line-height: 40px;
                margin-left: 6px;
                margin-right: 0;
                border-radius: 100%;
                background-color: #33353d
            }

        .copyright-text {
            margin: 0
        }

        @@media (max-width:991px) {
            .site-footer [class^=col-] {
                margin-bottom: 30px
            }
        }

        @@media (max-width:767px) {
            .site-footer {
                padding-bottom: 0
            }

                .site-footer .copyright-text, .site-footer .social-icons {
                    text-align: center
                }
        }

        .social-icons {
            padding-left: 0;
            margin-bottom: 0;
            list-style: none
        }

            .social-icons li {
                display: inline-block;
                margin-bottom: 4px
            }

                .social-icons li.title {
                    margin-right: 15px;
                    text-transform: uppercase;
                    color: #96a2b2;
                    font-weight: 700;
                    font-size: 13px
                }

            .social-icons a {
                background-color: #eceeef;
                color: #818a91;
                font-size: 16px;
                display: inline-block;
                line-height: 44px;
                width: 44px;
                height: 44px;
                text-align: center;
                margin-right: 8px;
                border-radius: 100%;
                -webkit-transition: all .2s linear;
                -o-transition: all .2s linear;
                transition: all .2s linear
            }

                .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
                    color: #fff;
                    background-color: #29aafe
                }

            .social-icons.size-sm a {
                line-height: 34px;
                height: 34px;
                width: 34px;
                font-size: 14px
            }

            .social-icons a.facebook:hover {
                background-color: #3b5998
            }

            .social-icons a.twitter:hover {
                background-color: #00aced
            }

            .social-icons a.linkedin:hover {
                background-color: #007bb6
            }

            .social-icons a.dribbble:hover {
                background-color: #ea4c89
            }

        @@media (max-width:767px) {
            .social-icons li.title {
                display: block;
                margin-right: 0;
                font-weight: 600
            }
        }
    </style>
    @RenderSection("styles")
</head>
@{
    var session = (UserLogin)Session[FORUM_WEB_2._0.Common.CommonSession.USER_LOGIN];

}
<body class="body" style="background-color: #343a40;">
    <header>
        <div class="header-dark">
            <nav class="navbar navbar-dark navbar-expand-md navigation-clean-search">
                <div class="container">
                    <a class="navbar-brand" href="@Url.Action("HomePage", "HomePage")"><img src="~/Asset/img/voz-logo.png" alt=""></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"></button>
                    <div class="collapse navbar-collapse"
                         id="navcol-1">
                        <!-- <ul class="nav navbar-nav">
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#">Link</a></li>
                            <li class="dropdown"><a class="dropdown-toggle nav-link dropdown-toggle" data-toggle="dropdown" aria-expanded="false" href="#">Dropdown </a>
                                <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                            </li>
                        </ul> -->
                        <form class="form-inline mr-auto" target="_self">
                        </form>

                        @if (session == null)
                        {
                            <span class="navbar-text"><a href="@Url.Action("Login", "Login")" class="login">Log In</a></span>
                            <a class="btn btn-light action-button" role="button" href="@Url.Action("Register", "Register")">Register</a>
                        }
                        else
                        {
                            <div>
                                <div>
                                    <span>Xin chào: </span><span><a href="@Url.Action("ProfileUser","ProfilePage", new {tenDangNhap = session.TenDangNhap})" style="color: white; text-decoration:none;">@session.TenDangNhap</a></span>
                                    <span>@Html.ActionLink("Đăng Xuất", "Logout", "Login")</span>
                                </div>
                                <div>
                                    <a href="@Url.Action("Ranking","ProfilePage")" style="color: white;">Bảng xếp hạng</a>
                                </div>
                            </div>
                        }


                    </div>
                </div>
            </nav>
        </div>
        <div class="container-fluid hrline"></div>
    </header>
    <div class="middle">
        @RenderBody()
    </div>
    <footer class="site-footer">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <h6>About</h6>
                    <p class="text-justify">Scanfcode.com <i>CODE WANTS TO BE SIMPLE </i> is an initiative  to help the upcoming programmers with the code. Scanfcode focuses on providing the most efficient code or snippets as the code wants to be simple. We will help programmers build up concepts in different programming languages that include C, C++, Java, HTML, CSS, Bootstrap, JavaScript, PHP, Android, SQL and Algorithm.</p>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Categories</h6>
                    <ul class="footer-links">
                        <li><a href="#">C</a></li>
                        <li><a href="#">UI Design</a></li>
                        <li><a href="#">PHP</a></li>
                        <li><a href="#">Java</a></li>
                        <li><a href="#">Android</a></li>
                        <li><a href="#">Templates</a></li>
                    </ul>
                </div>

                <div class="col-xs-6 col-md-3">
                    <h6>Quick Links</h6>
                    <ul class="footer-links">
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact Us</a></li>
                        <li><a href="#">Contribute</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <hr>
        </div>
    </footer>
</body>
</html>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
@Scripts.Render("~/bundles/jquery")
@*@RenderSection("jsfooter",required: false)*@
@RenderSection("scripts", false)
