@model List<FORUM_WEB_2._0.Models.FrameWorks.BinhLuan>
@{
    var session = (UserLogin)Session[FORUM_WEB_2._0.Common.CommonSession.USER_LOGIN];
}

<div class="container" style="background-color: #c8d6e5; height: 3px; padding: 0px; margin-top: 15px;"></div>
@foreach (var item in Model)
{
    <div class="container" style=" background-color: #ebeced; margin-top: 25px;">
        <div class="row">
            <div class="col-xl-2" style="background-color: #e2e3e5; border-right: solid 1px #c3c6c9;">
                <div class="user">
                    <div class="user-avatar">
                        <img src="~/Asset/img/@item.TaiKhoan.Avatar" alt="">
                    </div>
                    <div class="user-name2">
                        @*<a href="#"><span style="text-decoration: none; color: #3c497c; font-weight: 700;">@item.TaiKhoan.TenDangNhap</span></a>*@
                        @{ if (item.TenDangNhap != @session.TenDangNhap)
                            {
                                <span><a href="@Url.Action("Other", "ProfilePage", new { tenDangNhap = item.TenDangNhap })" style="text-decoration: none; color: #3c497c; font-weight: 700;">@item.TenDangNhap</a></span>

                            }
                            else
                            {
                                <span><a href="@Url.Action("ProfileUser","ProfilePage", new {tenDangNhap = session.TenDangNhap})" style="text-decoration: none; color: #3c497c; font-weight: 700;">@session.TenDangNhap</a></span>
                            }
                        }
                        <span style="color: #23374c; font-weight: 200;">vip</span>
                    </div>

                </div>
            </div>
            <div class="col xl10" style="height: 100%;">
                <div class="content-question">
                    <div class="container content-text" style="padding: 0;">
                        <p style="margin: 0px">@Html.Raw(item.NoiDung)</p>
                        
                    </div>
                    <div class="container content-img" style="padding: 0px;">
                        @Html.Action("Img_Comment", "PostPage", new {id_comment = item.ID_BinhLuan })
                    </div>
                </div>
                
                <!-- modal -->
                <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
                    <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                    <div class="w3-modal-content w3-animate-zoom" style="width: 60%;">
                        <img id="img01" style="width:100%">
                    </div>
                </div>
                <!-- end modal -->
                <div class="question-func">
                    <div class="report">
                        <span><a href="#">Report</a></span>
                    </div>
                    <div class="reply">
                        <span><a href="#">Reply</a></span>
                    </div>
                    @{
                        if (item.TenDangNhap == session.TenDangNhap)
                        {
                            <div class="delete">
                                <span><a href="@Url.Action("Delete_Comment","PostPage", new {id_comment = item.ID_BinhLuan })">Delete</a></span>
                            </div>
                            <div class="edit">
                                <span>@Html.ActionLink("Edit","Edit_Comment","PostPage", new { id_comment = item.ID_BinhLuan}, new { @class = "form-control", data_toggle = "modal", data_target = "#exampleModal2" })</span>
                            </div>

                            <!-- Modal -->
                            <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        @using (Html.BeginForm("Edit_Comment", "PostPage", new { id_comment = item.ID_BinhLuan}, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                        {
                                            <div class="content-answer">
                                                @Html.TextAreaFor(Model => item.NoiDung, new { htmlAttributes = new { @class = "form-control" } })
                                                
                                                
                                            </div>
                                            <div class="question-func">
                                                <div class="post">
                                                    <button type="submit" class="btn btn-primary">Edit Comment</button>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>

                        }
                    }
                </div>
            </div>
        </div>
    </div>
}

<script>
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
    }


    tinymce.init({
        selector: 'textarea',
        plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
        toolbar_mode: 'floating',
    });
</script>
