@{
    ViewBag.Title = "PostPage";
    Layout = "~/Views/Shared/my_Layout.cshtml";
}
@model FORUM_WEB_2._0.Models.FrameWorks.BaiDang
@{
    var session = (UserLogin)Session[FORUM_WEB_2._0.Common.CommonSession.USER_LOGIN];
}
@section styles{
    <style>
        .user-question {
            display: flex;
        }

        .user-name {
            margin-left: 5px;
        }

        .user-avatar {
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .user-avatar > img {
                height: 100px;
                width: 100px;
                border-radius: 50%;
            }

        .user {
            justify-content: center;
            background-color: #e2e3e5;
        }

        .user-name2 {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
        }

        .content-question {
            margin: 10px;
            height: 65%;
        }

        .content-text {
            display: flex;
            width: 100%;
        }

        .content-img {
            height: 100%;
            display: flex;
            padding: 0px;
            flex-direction: column;
        }

            .content-img > .img {
                margin-bottom: 15px;
                width: 45%;
            }

                .content-img > .img > img {
                    width: 100%;
                    cursor: pointer;
                }

        .question-func {
            display: flex;
            margin: 10px;
            justify-content: space-between;
        }

        .content-answer {
            margin: 10px;
            height: 65%;
        }
    </style>
}
<div class="container">
    <div class="header-thread">
        <div class="thread-name">
            <h4 style="color: white; font-weight: 400;">@Html.Raw(Model.TieuDe)</h4>
        </div>
        <div class="user-question">
            <div><ion-icon name="person-outline" style="color:#89918b;"></ion-icon></div>
            <div class="user-name">
                @*<a href="#"><span style="color: #89918b;">@Model.TenDangNhap</span></a>*@
                @{ if (@Model.TenDangNhap != @session.TenDangNhap)
                    {
                        <span><a href="@Url.Action("Other", "ProfilePage", new { tenDangNhap = @Model.TenDangNhap })" style="color: white; text-decoration:none;">@Model.TenDangNhap</a></span>

                    }
                    else
                    {
                        <span><a href="@Url.Action("ProfileUser","ProfilePage", new {tenDangNhap = session.TenDangNhap})" style="color: white; text-decoration:none;">@session.TenDangNhap</a></span>
                    }
                }
            </div>
        </div>
    </div>
</div>
<div class="container" style=" background-color: #ebeced;">
    <div class="row">
        <div class="col-xl-2" style="background-color: #e2e3e5; border-right: solid 1px #c3c6c9;">
            <div class="user">
                <div class="user-avatar">
                    <img src="~/Asset/img/@Model.TaiKhoan.Avatar" alt="">
                </div>
                <div class="user-name2">
                    @*<a href="#"><span style="text-decoration: none; color: #3c497c; font-weight: 700;">@Model.TenDangNhap</span></a>*@
                    @{ if (@Model.TenDangNhap != @session.TenDangNhap)
                        {
                            <span><a href="@Url.Action("Other", "ProfilePage", new { tenDangNhap = @Model.TenDangNhap })" style="text-decoration: none; color: #3c497c; font-weight: 700;">@Model.TenDangNhap</a></span>

                        }
                        else
                        {
                            <span><a href="@Url.Action("ProfileUser","ProfilePage", new {tenDangNhap = session.TenDangNhap})" style="text-decoration: none; color: #3c497c; font-weight: 700;">@session.TenDangNhap</a></span>
                        }
                    }
                    <span style="color: #23374c; font-weight: 200;">Vip</span>
                </div>

            </div>
        </div>
        <div class="col xl10" style="height: 100%;">
            <div class="content-question">
                <div class="container content-text" style="padding: 0;">
                    <p style="margin: 0px">@Html.Raw(Model.NoiDung)</p>
                </div>
                <div class="container content-img" style="padding: 0px;">
                    @Html.Action("Img_Post", "PostPage")
                </div>
            </div>
            <!-- modal -->
            <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
                <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
                <div class="w3-modal-content w3-animate-zoom" style="width: 60%;">
                    <img id="img01" style="width:100%">
                </div>
            </div>
            <!-- end modal -->
            <div class="question-func">
                <div class="report">
                    <span><a href="#">Report</a></span>
                </div>
                <div class="reply">
                    <span><a href="#">Reply</a></span>
                </div>
                @{
                    if (Model.TenDangNhap == session.TenDangNhap)
                    {
                        <div class="delete">
                            <span><a href="@Url.Action("Delete_Post","PostPage",new {id = Model.ID_BaiDang})">Delete</a></span>
                        </div>
                        <div class="edit">
                            <span><a href="@Url.Action("Edit_Post","PostPage",new {id = Model.ID_BaiDang})" data-toggle="modal" data-target="#exampleModal">Edit</a></span>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    @using (Html.BeginForm("Edit_Post", "PostPage", new { id = Model.ID_BaiDang }, FormMethod.Post, new { enctype = "multipart/form-data" }))
                                    {
                                        <div class="post-thread">
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="tittle-thread">
                                                        @*<input type="text" name="" id="" placeholder="Tittle thread" style="width: 100%;">*@

                                                        @*@Html.TextAreaFor(Model => Model.TieuDe, htmlAttributes: new { style = "width: 100%;", @placeholder = "Tittle thread" })*@
                                                        @Html.TextAreaFor(Model => Model.TieuDe, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(Model => Model.TieuDe)
                                                        <script>
                                                            tinymce.init({
                                                                selector: 'textarea',
                                                                plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
                                                                toolbar_mode: 'floating',
                                                            });
                                                        </script>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12">
                                                    <div class="content-thread">
                                                        @*@Html.TextAreaFor(Model => Model.NoiDung, htmlAttributes: new { cols = "50", rows = "4", style = "resize: none; width: 100%;", @placeholder = "Content thread", htmlAttributes = new { @class = "form-control", @id = "basic-example" } })*@
                                                        @Html.TextAreaFor(Model => Model.NoiDung, new { htmlAttributes = new { @class = "form-control" } })
                                                        @Html.ValidationMessageFor(Model => Model.NoiDung)

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="container" style="padding: 0;">
                                                <div class="button">
                                                    <button type="submit" class="btn btn-primary">Edit thread</button>
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@*comment-area*@

@Html.Action("Comment", "PostPage")

<div class="container" style=" background-color: #ebeced; margin-top: 30px;">
    <div class="row">
        <div class="col-xl-2" style="background-color: #e2e3e5; border-right: solid 1px #c3c6c9;">
            <div class="user">
                <div class="user-avatar">
                    <img src="~/Asset/img/@session.Avatar" alt="">
                </div>
                <div class="user-name2">
                    @*<a href="#"><span style="text-decoration: none; color: #3c497c; font-weight: 700;">@session.TenDangNhap</span></a>*@
                    @{ if (@Model.TenDangNhap != @session.TenDangNhap)
                        {
                            <span><a href="@Url.Action("Other", "ProfilePage", new { tenDangNhap = @Model.TenDangNhap })" style="text-decoration: none; color: #3c497c; font-weight: 700;">@session.TenDangNhap</a></span>

                        }
                        else
                        {
                            <span><a href="@Url.Action("ProfileUser","ProfilePage", new {tenDangNhap = session.TenDangNhap})" style="text-decoration: none; color: #3c497c; font-weight: 700;">@session.TenDangNhap</a></span>
                        }
                    }
                    <span style="color: #23374c; font-weight: 200;">Vip</span>
                </div>

            </div>
        </div>
        @Html.Action("PostComment", "PostPage")
    </div>
</div>
<script>
    function onClick(element) {
        document.getElementById("img01").src = element.src;
        document.getElementById("modal01").style.display = "block";
    }
</script>