@model IEnumerable<FORUM_WEB_2._0.Models.FrameWorks.ChuDe>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenChuDe)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenChuDe)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.ID_ChuDe }) |
                        @Html.ActionLink("Details", "Details", new { id = item.ID_ChuDe }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ID_ChuDe })
                    </td>
                </tr>
            }

        </table>
    </div><!--/.row-->
</div>



