@model IEnumerable<FORUM_WEB_2._0.Models.FrameWorks.TaiKhoan>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}



<div class="col-lg-10 col-lg-offset-2 main">
    <div class="row">
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenDangNhap)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.Avatar)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SoLuongBaiDang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NgayGiaNhap)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenDangNhap)
                    </td>
                    
                    <td>
                        @Html.DisplayFor(modelItem => item.Avatar)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SoLuongBaiDang)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NgayGiaNhap)
                    </td>
                    <td>
                        
                        @Html.ActionLink("Details", "Details", new { id = item.TenDangNhap }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TenDangNhap })
                    </td>
                </tr>
            }

        </table>

    </div><!--/.row-->
</div>